#listWrap #container {
  padding: 67px 0 108px;
}
#container {
  clear: both;
  margin: 0 auto;
  padding: 54px 0 83px;
}
.banner_area,
.global_banner {
  position: relative;
  overflow: hidden;
  height: 100px;
  padding: 0 40px;
  border-bottom: 1px solid #f0f0f0;
}
.blind {
  display: block;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  top: -9999px;
  font-size: 0;
  width: 1px;
  height: 1px;
  left: -9999px;
  line-height: 0;
}
.banner_area .line {
  position: absolute;
  top: 0;
  left: 40px;
  z-index: 10;
  height: 100px;
  width: 1px;
  display: block;
  background: #fff;
}
/* 버튼 */

.banner_area .btn_prev,
.global_banner .btn_prev {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 42px;
  height: 100px;
  background: #ffff;
  z-index: 5;
}
.banner_area .btn_prev span,
.global_banner .btn_prev span {
  position: absolute;
  top: 40px;
  left: 15px;
  display: block;
  width: 11px;
  height: 21px;
  text-indent: -9999px;
  background: url("http://res.afreecatv.com/images/afmain/img_main.png")
    no-repeat -543px -54px;
}
.banner_area .btn_next,
.global_banner .btn_next {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 42px;
  height: 100px;
  background: #ffff;
  z-index: 5;
}
.banner_area .btn_next span,
.global_banner .btn_next span {
  position: absolute;
  top: 40px;
  left: 15px;
  display: block;
  width: 11px;
  height: 21px;
  text-indent: -9999px;
  background: url("http://res.afreecatv.com/images/afmain/img_main.png")
    no-repeat -555px -54px;
}
/* 버튼 */
.bx-viewport {
  z-index: 5;
}
.banner_area .bx-controls,
.global_banner .bx-controls {
  display: none;
}
.banner_area li,
.global_banner li {
  float: left;
  width: 33.3%;
  border-left: 1px solid #f0f0f0;
  text-align: center;
}

.bannerslide .bnr_conts {
  font-size: 0;
  text-align: center;
}
.banner_area li a,
.global_banner li a {
  display: block;
}
.bannerslide .bnr_conts .bnr_img,
.bannerslide .bnr_conts .bnr_text {
  display: inline-block;
  vertical-align: top;
}
.bannerslide .bnr_conts .bnr_text .date {
  color: #999;
  font-size: 12px;
  letter-spacing: -1px;
}
.bannerslide .bnr_conts .bnr_text {
  padding-top: 11px;
  font-size: 0;
  text-align: left;
}
.bannerslide .bnr_conts .bnr_img,
.bannerslide .bnr_conts .bnr_text {
  display: inline-block;
  vertical-align: top;
}
.bannerslide .bnr_conts .bnr_img img {
  display: block;
}
.banner_area li img,
.global_banner li img {
  vertical-align: top;
  height: 100px;
}
@media screen and (max-width: 1340px) {
  .bannerslide .bnr_conts .bnr_text {
    width: 135px;
  }
}
@media screen and (max-width: 1340px) {
  .bannerslide .bnr_conts .bnr_text strong,
  .bannerslide .bnr_conts .bnr_text p {
    letter-spacing: -1.7px;
  }
}
.bannerslide .bnr_conts .bnr_text strong {
  display: block;
  margin-top: 4px;
  color: #333;
  font-family: "NGB";
}
.bannerslide .bnr_conts .bnr_text strong,
.bannerslide .bnr_conts .bnr_text p {
  font-size: 15px;
  line-height: 18px;
}
.bannerslide .bnr_conts:after {
  content: "";
  display: block;
  clear: both;
}
.bannerslide .bnr_conts .bnr_text p {
  margin-top: 1px;
  color: #555;
  font-size: 15px;
}
.bx-clone {
  display: none;
}
#container .content_area {
  width: 960px;
  margin: 0 auto;
  padding: 25px 0 60px 0;
}
.hotissue {
  position: relative;
  width: 100%;
  padding: 0;
  margin-bottom: -17px;
}

.hotissue h2 {
  position: relative;
  float: left;
  font-size: 18px;
  height: 33px;
  line-height: 100%;
  color: #010101;
  letter-spacing: -1px;
}
.hotissue .tab_m {
  position: relative;
  float: left;
  margin: -2px 0 0 25px;
  z-index: 2;
}
.hotissue .tab_m li {
  float: left;
  font-size: 14px;
  color: #555;
  margin-right: 12px;
  letter-spacing: -1px;
}

.hotissue .tab_m li a {
  display: block;
  padding: 0 2px 0 2px;
  color: #555;
  text-decoration: none;
  line-height: 1.5;
}
.hotissue .control {
  position: absolute;
  top: -6px;
  right: 0;
  z-index: 10;
}
.hotissue .control .stopButton {
  width: 16px;
  height: 15px;
  margin-top: 6px;
  margin-right: 8px;
  background-position: 0 -165px;
}
.hotissue .control button {
  position: relative;
  float: left;
  display: block;
  text-indent: -9999px;
  background: url("http://res.afreecatv.com/images/afmain/img_main.png")
    no-repeat;
}
.hotissue .control .prev {
  width: 27px;
  height: 27px;
  margin-right: -1px;
  background-position: -17px -165px;
}
.hotissue .control .next {
  width: 27px;
  height: 27px;
  background-position: -43px -165px;
}
