
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1500;
        width: 100%;
        min-width: 980px;
        height: 53px;
        background-color: #fff;
        border-bottom: 1px solid #ececec;
    }

    header h1 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2000;
        width: 210px;
        height: 65px;
        vertical-align: top;
        margin: 0;
    }

    button {
        border: 0 none;
        cursor: pointer;
        vertical-align: middle;
        outline: none;
        cursor: pointer;
    background: transparent;
    border: none;
    }
    .search_area_t {
        position: absolute;
        width: 246px;
        top: 17px;
        left: 210px;
        z-index: 10;
    }

    .search_area_t .search_bar input {
        position: absolute;
        top: 0;
        width: 203px;
        top: 0;
        padding: 8px 0 7px 9px;
        color: #181818;
        border: 0 none;
        font-size: 12px;
        background: none;
        ime-mode: active;
    }

    .search_area_t .search_bar {
        overflow: hidden;
        position: relative;
        width: 244px;
        min-height: 29px;
        _height: 29px;
        border: 1px solid #1559ff;
        border-radius: 3px;
        background: #fff;
    }

    .btn_search {
        position: absolute;
        top: 0;
        right: 3px;
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 19'%3e%3cpath fill='rgba(23, 114, 248, 0.999)'  d='M19.235 17.329l-1.534 1.535-5.228-5.228c-1.206.85-2.669 1.359-4.257 1.359-4.094 0-7.412-3.319-7.412-7.412C.804 3.489 4.122.171 8.216.171c4.094 0 7.412 3.318 7.412 7.412 0 1.721-.611 3.285-1.595 4.543l5.202 5.203zM8.196 2.045c-3.058 0-5.538 2.48-5.538 5.538 0 3.059 2.48 5.538 5.538 5.538 3.059 0 5.539-2.479 5.539-5.538 0-3.058-2.48-5.538-5.539-5.538z'/%3e%3c/svg%3e") center no-repeat;
        background-size: 19px 19px;
        width: 29px;
        height: 29px;
        border: 0 none;
        z-index: 10;
        cursor: pointer;
        vertical-align: top;
    }
    #listWrap header .unit_area{
        position: absolute;
        top:17px;
        right: 0;
    }
    #listWrap header .unit_area .btn_studio{
        display: block;
        float: left;
        background: none;
        width: 35px;
        height: 35px;
        text-align: center;
        outline: none;
    }

    #listWrap header .unit_area .btn_studio span {
        display: block;
        position: relative;
        background: url("http://res.afreecatv.com/images/afmain/img_main.png") -408px -212px no-repeat;
        width: 28px;
        height: 18px;
        margin: 0 auto;
        text-indent: -9999px;
    }
    header .unit_area {
        position: absolute;
        top: 0;
        right: 0;
    }
    #listWrap header .log_area{
        margin-left: 11px;
        padding-right: 30px;
    }
    header .log_area{
        position: relative;
        float: left;
        padding-right: 54px;
    }
    #listWrap header .join_area{
        padding: 21px 0 0 10px;
    }
    #listWrap header .join_area {
        padding: 0 !important;
    }
    .log_area .btn_more, .login_area .btn_more {
        position: relative;
        top: 0;
        right: 0;
        background: url("data:image/svg+xml,%3csvg viewBox='0 0 3 15' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m1.5 9c-0.829 0-1.5-0.672-1.5-1.5-0-0.829 0.671-1.5 1.5-1.5 0.828 0 1.5 0.671 1.5 1.5 0 0.828-0.672 1.5-1.5 1.5zm0-6c-0.829 0-1.5-0.672-1.5-1.5-0-0.829 0.671-1.5 1.5-1.5 0.828-0 1.5 0.671 1.5 1.5 0 0.828-0.672 1.5-1.5 1.5zm0 9c0.828 0 1.5 0.671 1.5 1.5 0 0.828-0.672 1.5-1.5 1.5-0.829 0-1.5-0.672-1.5-1.5-0-0.829 0.671-1.5 1.5-1.5z' fill='%23666'/%3e%3c/svg%3e") 50% 50% no-repeat;
        background-size: 3px 15px;
        width: 35px;
        height: 35px;
        margin-right: 10px;
        padding: 0;
        border: 0;
        font: 0/0 a;
        outline: none;
    }
    header .join_area a {
        display: inline-block;
        line-height: 120%;
        font-size: 14px;
        color: #666;
        vertical-align: middle;
    }
    a:link, a:visited, a:active {
        text-decoration: none;
    }