.Left_Navigation_Bar{
    position: fixed;
    top:67px;
    bottom: 0;
    left: 0;
    background: #f8fafc;
    width: 209px;
    border-right:1px solid #e5ebf2;
    z-index:100;
}
#LNB-ScrollBox{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}
.mb-container{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.mb-track {
    transition: opacity 250ms;
}
.mb-track-x {
    left: 5px;
    bottom: 5px;
    width: calc(100% - 10px);
    height: 10px;
    opacity: 0;
}
.mb-bar, .mb-button, .mb-buttons, .mb-track {
    position: absolute;
}
.mb-bar, .mb-track {
    border-radius: 0;
    position: absolute;
}
.mb-track-x .mb-bar {
    top: 0;
    left: 0;
    min-width: 10px;
    height: 100%;
}
.mb-bar {
    background-color: #eee;
    z-index: 10;
    transform-style: preserve-3d;
}
.mb-track-y {
    top: 0;
    bottom: 0;
    right: 0;
    width: 8px;
    height: calc(100% - 0);
    opacity: 0;
}
.mb-track-y .mb-bar {
    top: 0;
    right: 0;
    width: 100%;
    min-height: 10px;
}
.mb-content {
    overflow-y: scroll;
    width: calc( 100% + 18px);
    height: 100%;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
}
#LNB-ScrollBox .service-list>li{
    overflow: hidden;
    max-height: 49px;
    border-bottom: 1px solid #e5ebf2;
    transition: all 0.4s cubic-bezier(0,1,0.5,1);
}
#LNB-ScrollBox .service-list>li h3 {
    position: relative;
}
#LNB-ScrollBox .service-list>li [class^=title-] {
    display: block;
    position: relative;
    height: 49px;
    padding-left: 25px;
    color: #333;
    font-size: 15px;
    line-height: 49px;
    font-family: "NGB";
}
#LNB-ScrollBox .service-list>li [class^=title-].title-LIVE:before{
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(77,77,77,0.999)' stroke='' viewBox='0 0 20 16'%3e%3cpath d='m3.811 1.169c0.244 0.252 0.244 0.661 0 0.913-3.417 3.534-3.418 9.263-3e-3 12.796 0.235 0.261 0.221 0.67-0.031 0.913-0.24 0.231-0.612 0.231-0.852 0-3.903-4.037-3.902-10.584 2e-3 -14.622 0.244-0.252 0.639-0.252 0.883 0h1e-3zm13.252-3e-3c3.903 4.038 3.901 10.585-3e-3 14.623-0.235 0.262-0.631 0.276-0.883 0.033-0.253-0.244-0.266-0.653-0.031-0.914 0.01-0.011 0.02-0.022 0.031-0.032 3.416-3.534 3.417-9.263 2e-3 -12.795-0.235-0.262-0.221-0.671 0.032-0.914 0.24-0.231 0.612-0.231 0.852 0v-1e-3zm-10.748 2.593c0.243 0.252 0.243 0.661 0 0.913-2.033 2.102-2.034 5.511-2e-3 7.614v1e-3c0.235 0.261 0.221 0.67-0.031 0.913-0.24 0.232-0.612 0.232-0.852 0-2.519-2.607-2.519-6.833 1e-3 -9.44 0.244-0.253 0.639-0.253 0.883 0l1e-3 -1e-3zm8.243-2e-3c2.52 2.608 2.52 6.835-1e-3 9.442v1e-3c-0.236 0.261-0.631 0.275-0.883 0.032-0.253-0.244-0.267-0.653-0.032-0.914 0.01-0.011 0.021-0.022 0.032-0.032 2.032-2.102 2.033-5.511 2e-3 -7.614-1e-3 0-1e-3 -1e-3 -1e-3 -1e-3 -0.235-0.261-0.221-0.67 0.031-0.913 0.24-0.232 0.612-0.232 0.852 0v-1e-3zm-4.564 2.137c1.379-0.026 2.518 1.11 2.543 2.537 0.026 1.428-1.072 2.606-2.452 2.632h-0.091c-1.38-0.026-2.478-1.204-2.453-2.632 0.025-1.39 1.109-2.511 2.453-2.537z' /%3e%3c/svg%3e") 0 0 no-repeat;
    background-size: 100% 100%;
    width:20px;
    height: 15px;
    margin-right: 10px;
}

#LNB-ScrollBox .service-list>li [class^=title-]:before{
    content:"";
    display: inline-block;
    vertical-align: -2px;
}
#LNB-ScrollBox .service-list>li h3 .btn-toggle {
    position: absolute;
    overflow: visible;
    top:0;
    left:150px;
    background: transparent;
    width: 50px;
    height: 50px;
    font:0/0 a;
    outline: none;
    z-index: 5;
}

#LNB-ScrollBox .service-list>li h3 .btn-toggle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #f1f5f9;
    width: 32px;
    height: 32px;
    margin: -16px 0 0 -16px;
    border-radius: 50%;
    transition: opacity .2s;
    opacity: 0;
}
#LNB-ScrollBox .service-list>li h3 .btn-toggle:hover:before {
    opacity: 1;
}
#LNB-ScrollBox .service-list>li.on h3 .btn-toggle:after {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(200,200,200,0.999)' stroke='' viewBox='0 0 11 6' %3e%3cpath d='m5.884 5.985-4.781-5.076c-0.193-0.204-0.181-0.523 0.027-0.713s0.532-0.18 0.726 0.027l4.028 4.276 4.028-4.276c0.193-0.207 0.517-0.217 0.725-0.027s0.22 0.509 0.028 0.713l-4.781 5.076z'/%3e%3c/svg%3e") 50% 50% no-repeat;
    background-size: 100% 100%;
    margin-left: -5px;
    transform: rotate(180deg);
}
#LNB-ScrollBox .service-list>li h3 .btn-toggle:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(77,77,77,0.999)' stroke='' viewBox='0 0 11 6' %3e%3cpath d='m5.884 5.985-4.781-5.076c-0.193-0.204-0.181-0.523 0.027-0.713s0.532-0.18 0.726 0.027l4.028 4.276 4.028-4.276c0.193-0.207 0.517-0.217 0.725-0.027s0.22 0.509 0.028 0.713l-4.781 5.076z'/%3e%3c/svg%3e") 50% 50% no-repeat;
    background-size: 100% 100%;
    width: 11px;
    height: 6px;
    margin: -3px 0 0 -6px;
    transition: all .2s ease;
}
#LNB-ScrollBox .service-list>li ul {
    padding: 0 47px 17px 52px;
}
#LNB-ScrollBox .service-list>li.on[data-service=live] {
    max-height: 1000px;
}
#LNB-ScrollBox .service-list>li ul li.on a {
    color: #386cff;
    font-family: "NGB";
}