.Left_Navigation_Bar{
    position: fixed;
    top:67px;
    bottom: 0;
    left: 0;
    background: #f8fafc;
    width: 209px;
    border-right:1px solid #e5ebf2;
    z-index:100;
}
#LNB-ScrollBox{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}
.mb-container{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.mb-track {
    transition: opacity 250ms;
}
.mb-track-x {
    left: 5px;
    bottom: 5px;
    width: calc(100% - 10px);
    height: 10px;
    opacity: 0;
}
.mb-bar, .mb-button, .mb-buttons, .mb-track {
    position: absolute;
}
.mb-bar, .mb-track {
    border-radius: 0;
    position: absolute;
}
.mb-track-x .mb-bar {
    top: 0;
    left: 0;
    min-width: 10px;
    height: 100%;
}
.mb-bar {
    background-color: #eee;
    z-index: 10;
    transform-style: preserve-3d;
}
.mb-track-y {
    top: 0;
    bottom: 0;
    right: 0;
    width: 8px;
    height: calc(100% - 0);
    opacity: 0;
}
.mb-track-y .mb-bar {
    top: 0;
    right: 0;
    width: 100%;
    min-height: 10px;
}
.mb-content {
    overflow-y: scroll;
    width: calc( 100% + 18px);
    height: 100%;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
}
#LNB-ScrollBox .service-list>li{
    overflow: hidden;
    max-height: 49px;
    border-bottom: 1px solid #e5ebf2;
    transition: all 0.4s cubic-bezier(0,1,0.5,1);
}
#LNB-ScrollBox .service-list>li h3 {
    position: relative;
}
#LNB-ScrollBox .service-list>li [class^=title-] {
    display: block;
    position: relative;
    height: 49px;
    padding-left: 25px;
    color: #333;
    font-size: 15px;
    line-height: 49px;
    font-family: "NGB";
}
#LNB-ScrollBox .service-list>li [class^=title-].title-LIVE:before{
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(77,77,77,0.999)' stroke='' viewBox='0 0 20 16'%3e%3cpath d='m3.811 1.169c0.244 0.252 0.244 0.661 0 0.913-3.417 3.534-3.418 9.263-3e-3 12.796 0.235 0.261 0.221 0.67-0.031 0.913-0.24 0.231-0.612 0.231-0.852 0-3.903-4.037-3.902-10.584 2e-3 -14.622 0.244-0.252 0.639-0.252 0.883 0h1e-3zm13.252-3e-3c3.903 4.038 3.901 10.585-3e-3 14.623-0.235 0.262-0.631 0.276-0.883 0.033-0.253-0.244-0.266-0.653-0.031-0.914 0.01-0.011 0.02-0.022 0.031-0.032 3.416-3.534 3.417-9.263 2e-3 -12.795-0.235-0.262-0.221-0.671 0.032-0.914 0.24-0.231 0.612-0.231 0.852 0v-1e-3zm-10.748 2.593c0.243 0.252 0.243 0.661 0 0.913-2.033 2.102-2.034 5.511-2e-3 7.614v1e-3c0.235 0.261 0.221 0.67-0.031 0.913-0.24 0.232-0.612 0.232-0.852 0-2.519-2.607-2.519-6.833 1e-3 -9.44 0.244-0.253 0.639-0.253 0.883 0l1e-3 -1e-3zm8.243-2e-3c2.52 2.608 2.52 6.835-1e-3 9.442v1e-3c-0.236 0.261-0.631 0.275-0.883 0.032-0.253-0.244-0.267-0.653-0.032-0.914 0.01-0.011 0.021-0.022 0.032-0.032 2.032-2.102 2.033-5.511 2e-3 -7.614-1e-3 0-1e-3 -1e-3 -1e-3 -1e-3 -0.235-0.261-0.221-0.67 0.031-0.913 0.24-0.232 0.612-0.232 0.852 0v-1e-3zm-4.564 2.137c1.379-0.026 2.518 1.11 2.543 2.537 0.026 1.428-1.072 2.606-2.452 2.632h-0.091c-1.38-0.026-2.478-1.204-2.453-2.632 0.025-1.39 1.109-2.511 2.453-2.537z' /%3e%3c/svg%3e") 0 0 no-repeat;
    background-size: 100% 100%;
    width:20px;
    height: 15px;
    margin-right: 10px;
}

#LNB-ScrollBox .service-list>li [class^=title-]:before{
    content:"";
    display: inline-block;
    vertical-align: -2px;
}
#LNB-ScrollBox .service-list>li h3 .btn-toggle {
    position: absolute;
    overflow: visible;
    top:0;
    left:150px;
    background: transparent;
    width: 50px;
    height: 50px;
    font:0/0 a;
    outline: none;
    z-index: 5;
}

#LNB-ScrollBox .service-list>li h3 .btn-toggle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #f1f5f9;
    width: 32px;
    height: 32px;
    margin: -16px 0 0 -16px;
    border-radius: 50%;
    transition: opacity .2s;
    opacity: 0;
}
#LNB-ScrollBox .service-list>li h3 .btn-toggle:hover:before {
    opacity: 1;
}
#LNB-ScrollBox .service-list>li.on h3 .btn-toggle:after {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(200,200,200,0.999)' stroke='' viewBox='0 0 11 6' %3e%3cpath d='m5.884 5.985-4.781-5.076c-0.193-0.204-0.181-0.523 0.027-0.713s0.532-0.18 0.726 0.027l4.028 4.276 4.028-4.276c0.193-0.207 0.517-0.217 0.725-0.027s0.22 0.509 0.028 0.713l-4.781 5.076z'/%3e%3c/svg%3e") 50% 50% no-repeat;
    background-size: 100% 100%;
    margin-left: -5px;
    transform: rotate(180deg);
}
#LNB-ScrollBox .service-list>li h3 .btn-toggle:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(77,77,77,0.999)' stroke='' viewBox='0 0 11 6' %3e%3cpath d='m5.884 5.985-4.781-5.076c-0.193-0.204-0.181-0.523 0.027-0.713s0.532-0.18 0.726 0.027l4.028 4.276 4.028-4.276c0.193-0.207 0.517-0.217 0.725-0.027s0.22 0.509 0.028 0.713l-4.781 5.076z'/%3e%3c/svg%3e") 50% 50% no-repeat;
    background-size: 100% 100%;
    width: 11px;
    height: 6px;
    margin: -3px 0 0 -6px;
    transition: all .2s ease;
}
#LNB-ScrollBox .service-list>li ul {
    padding: 0 47px 17px 52px;
}
#LNB-ScrollBox .service-list>li.on[data-service=live] {
    max-height: 1000px;
}
#LNB-ScrollBox .service-list>li ul li.on a {
    color: #386cff;
    font-family: "NGB";
}
#LNB-ScrollBox .service-list>li [class^=title-].title-VOD:before {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(77,77,77,0.999)' stroke='' viewBox='0 0 18 15' %3e%3cpath d='m13.929-0c2.248 0 4.071 1.772 4.071 3.958v7.084c0 2.186-1.823 3.958-4.071 3.958h-9.858c-2.248 0-4.071-1.772-4.071-3.958v-7.084c-0-2.186 1.823-3.958 4.071-3.958h9.858zm0 1.25h-9.858c-1.538 0-2.785 1.212-2.785 2.708v7.084c0 1.495 1.247 2.708 2.785 2.708h9.858c1.538 0 2.785-1.213 2.785-2.708v-7.084c0-1.496-1.247-2.708-2.785-2.708zm-5.934 2.514c0.334 0 0.66 0.1 0.934 0.286l3.344 2.277c0.737 0.501 0.916 1.488 0.401 2.205-0.109 0.151-0.245 0.283-0.401 0.389l-3.345 2.276c-0.737 0.502-1.752 0.328-2.268-0.388-0.192-0.267-0.295-0.584-0.295-0.909v-4.553c0-0.875 0.729-1.583 1.629-1.583h1e-3zm0 1.25c-0.19 0-0.343 0.149-0.343 0.333v4.553c-1e-3 0.184 0.153 0.334 0.342 0.334 0.071 0 0.14-0.021 0.198-0.061l3.344-2.276c0.155-0.106 0.193-0.314 0.084-0.465-0.023-0.031-0.051-0.059-0.084-0.081l-3.345-2.277c-0.058-0.039-0.127-0.06-0.197-0.06h1e-3z' fill-rule='evenodd'/%3e%3c/svg%3e") 0 0 no-repeat;
    background-size: 100% 100%;
    width: 18px;
    height: 15px;
    margin: 0 9px 0 1px;
}
#LNB-ScrollBox .service-list>li [class^=title-]:before {
    content: "";
    display: inline-block;
    vertical-align: -2px;
}
#LNB-ScrollBox .service-list>li h3 em {
    display: inline-block;
    background: #ff2424;
    height: 13px;
    padding: 0 4px;
    border-radius: 2px;
    color: #fff;
    line-height: 13px;
    font-family: "Tahoma";
    font-size: 10px;
    vertical-align: middle;
}
#LNB-ScrollBox .service-list>li.on[data-service=vod] {
    max-height: 1000px;
}
#LNB-ScrollBox .service-list>li ul li#tvclip_vod a:after {
    content: "";
    display: inline-block;
    background: url("http://res.afreecatv.com/images/af_vod/tvclip.png");
    width: 61px;
    height: 15px;
    margin-left: 5px;
    vertical-align: middle;
    border-radius: 0;
}
#LNB-ScrollBox .service-list>li [class^=title-].title-FAV:before {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(77,77,77,0.999)' stroke='' viewBox='0 0 18 17'%3e%3cpath d='m12.231 4.853 4.659 0.667c1.057 0.152 1.477 1.442 0.711 2.179l-3.366 3.233 0.793 4.564c0.181 1.04-0.917 1.835-1.86 1.347l-4.169-2.16-4.169 2.159c-0.942 0.489-2.041-0.306-1.861-1.346l0.794-4.564-3.365-3.233c-0.768-0.737-0.347-2.027 0.71-2.179l4.658-0.667 2.082-4.157c0.472-0.943 1.828-0.943 2.301 0l2.081 4.156 1e-3 1e-3zm-0.851 1.166-2.381-4.756-2.381 4.756-5.327 0.764 3.854 3.702-0.91 5.227 4.764-2.467 4.763 2.467-0.91-5.227 3.854-3.702-5.327-0.764h1e-3z' fill-rule='evenodd'/%3e%3c/svg%3e") 0 0 no-repeat;
    background-size: 100% 100%;
    width: 18px;
    height: 17px;
    margin: 0 9px 0 1px;
}
#LNB-ScrollBox .service-list>li.on[data-service=fav] {
    max-height: 1000px;
}
#LNB-ScrollBox .service-list li.side-menu {
    max-height: none;
}
#LNB-ScrollBox .service-list li.side-menu ul {
    display: block;
    padding: 14px 49px 14px 25px;
}
#LNB-ScrollBox .service-list li.side-menu ul a {
    height: 34px;
    padding: 0;
    color: #333;
    line-height: 34px;
}
#LNB-ScrollBox .service-list>li ul li a {
    display: block;
    padding: 5px 0 6px;
    color: #565656;
    font-size: 13px;
}
#LNB-ScrollBox .service-list a {
    text-decoration: none;
    line-height: 1.2;
}
#LNB-ScrollBox .service-list>li h3 a:hover {
    color: #386cff;
    font-family: "NGB";
}
#LNB-ScrollBox .service-list>li ul li a:hover {
    color: #386cff;
    font-family: "NGB";
}
#LNB-ScrollBox .download-player {
    padding: 0 24px 0 25px;
}
#LNB-ScrollBox .download-player a {
    display: block;
    background: #ecf2f8;
    width: 161px;
    height: 42px;
    margin-top: 10px;
    border-radius: 42px;
    color: #666;
    font-size: 13px;
    line-height: 42px;
    text-align: center;
    text-decoration: none;
}
#LNB-ScrollBox .download-player a.player_install:before {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(1,80,255,0.999)' stroke='' viewBox='0 0 18 18' %3e%3cpath d='m8.998 18.002c-4.965 0-9.004-4.039-9.004-9.004 0-4.964 4.039-9.003 9.004-9.003 4.964 0 9.003 4.039 9.003 9.003 0 4.965-4.039 9.004-9.003 9.004zm0-17.03c-4.426 0-8.027 3.601-8.027 8.026 0 4.426 3.601 8.027 8.027 8.027 4.425 0 8.026-3.601 8.026-8.027 0-4.425-3.601-8.026-8.026-8.026zm-0.609 12.285c-0.229 0.169-0.5 0.255-0.773 0.255-0.201 0-0.402-0.046-0.59-0.141-0.442-0.224-0.717-0.67-0.717-1.165v-6.415c0-0.495 0.275-0.941 0.717-1.165 0.442-0.223 0.965-0.18 1.363 0.114l4.357 3.207c0.338 0.248 0.532 0.632 0.532 1.051 0 0.42-0.194 0.803-0.532 1.052l-4.357 3.207zm3.727-4.455-4.356-3.207c-0.05-0.037-0.099-0.049-0.142-0.049-0.047 0-0.087 0.015-0.113 0.028-0.04 0.02-0.133 0.082-0.133 0.217v6.415c0 0.13 0.083 0.192 0.133 0.217 0.05 0.024 0.149 0.056 0.255-0.022l4.356-3.206c0.087-0.064 0.1-0.151 0.1-0.197s-0.013-0.132-0.1-0.196z'/%3e%3c/svg%3e") 0 0 no-repeat;
    background-size: 100% 100%;
    width: 18px;
    height: 18px;
}
#LNB-ScrollBox .download-player a:before {
    content: "";
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
}
#LNB-ScrollBox .service-list>li ul li.new a:after {
    content: "";
    display: inline-block;
    background: #f84542 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(255,255,255,0.999)' stroke='' viewBox='0 0 6 5'%3e%3cpath fill-rule='evenodd' d='M0 0v5h2V3h1v1h1v1h2V0H4v2H3V1H2V0H0'/%3e%3c/svg%3e") 50% 50% no-repeat;
    background-size: 6px 6px;
    width: 12px;
    height: 12px;
    margin-left: 4px;
    border-radius: 50%;
    vertical-align: -2px;
}